*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
body{
	background: linear-gradient(#3f51b5,#000);
	height: 100vh;
	background-size: cover;
	background-position: center;
	color:white;
}
.back{
	text-align: justify;
}
h1{
	color:white;
	text-align:center;
	font-size:50px;
	font-family: 'MuseoModerno', cursive;
}
.main{
	width:700px;
	height:100vh;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	background:#fdfdfd;
}
.header{
	width:100%;
	padding:10px 0;
	background: #f9f9f9;
	box-shadow: 0 0 10px 2px(0,0,0,0.1);
	position: relative;
	font-size:30px;
}
.header img{
	width:30px;
	position: absolute;
	top: 10px;
	cursor: pointer;
}
.header p{
	color:#007aff;
	text-align: center;
}
.menu-icon{
	left:20px;
	width:100%;

}

.game-icon{
	right:20px;
}
.main-text{
	width:300px;
	margin:50px auto 0;
	color:#777;
}
.main-text h2{
	margin-bottom: 20px;
}


.swiper-container{
	height:450px;
}
.swiper-wrapper{
	align-items:center;
}
.swiper-slide{
	width:200px;
	height:250px;
	border-radius: 7px;
}
.swiper-slide img{
	width:100%;
	height:100%;
	border-radius: 7px;
}
.swiper-slide-active{
	transform: scale(1.2);
	transition: .4s;
}

table, th, td{
	border: 1px solid black;
	text-align:center;
	 padding: 5px;
}
table {
  width: 100%;
  table-layout:fixed;
  
}

th {
  height: 50px;
}